* {
    /* Box sizes (height/width) include border and padding */
    box-sizing: border-box;	
    font-family: "Times New Roman", sans-serif;
 }

header {
    border-style: solid;
    padding: 2rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2.5%;
    display: inline-block;
    font-size: 1.1rem;
    font-family: arial;
}

header img.greekReader {
    float: left;
    max-width: 230px;
    margin-right: 2rem;
    object-fit: contain;
}

.about {
    /* overflow: hidden; */
}

.bookTitle {
    font-style: italic;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 0%;
}

figure {

    margin: 0%;
}


main {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 5%;
}

ul, ol {

    line-height: 1.50em;
}

ol {

    list-style-type: lower-greek;
}

#toc li {
    padding-left: 1em;
}

#toc h2 a {
    text-decoration: none;
    color: black;
}

ol li::marker {

    font-size: 1.25em;
    text-transform: uppercase;
}

#toc a:hover, #toc a:focus {
    background: black;
    color: whitesmoke;
}

.titlePage {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.navbar {
    overflow: hidden;
    width: 175px;
    max-width: 15%;
    color: black;
    background-color: lightgray;
    position: fixed;
    font-family: arial;
    font-weight: 500;
    font-size: 1rem;
    margin: 0px;
    margin-top: 2.5%;
    border-style: solid;
    border-color: black; /*darkgray;*/
    border-width: 3px;
}

@media (max-width: 800px) {
  .navbar {
    display: none;
  }
}

.navbar h3 {
    margin: 0;
    text-decoration: underline;
    padding-left: 2px;
}

.navbar a {
    color: black;
    text-align: left;
    text-decoration: none;
}

.navbar ul {
    
    list-style-type: none;
    line-height: 1.5rem;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.navbar a:hover {
    background: black;
    color: whitesmoke;
}


.greekSection {
    clear: both;
    overflow: hidden;
    margin-top: 25px;
}

.greekText {
    font-size: 2rem;
    width: 100%;
}

.greekSection .notes {
    width: 50%;
    float: left;
}

.greekSection .translation {
    margin-left: 2%;
    width: 48%;
    float: right;
}

.fillableFields {
    padding: 0rem 1.5rem 1rem 1.5rem;
}

.contactForm {
    
    width: 100%;
    height: auto;
}

h1.contactPage {
    margin-bottom: 0px;
}

footer p {
    padding-left: 15px;
}
