* {
    box-sizing: border-box;
    font-family: "Times New Roman", sans-serif;
}

header {
    border-style: solid;
    padding: 2rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2.5%;
}

header img.greekReader {
    float: left;
    margin-right: 2rem;
}


h1 {
    font-size: 3rem;
    text-align: center;
    /*    padding: 0.5em;    */
}


main {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul, ol {

    line-height: 1.50em;
}

ol {

    list-style-type: lower-greek;
}

#toc li {
    padding-left: 1em;
}

li::marker {

    font-size: 1.25em;
    text-transform: uppercase;
}

#toc a:hover,
#toc a:focus {
    background: black;
    color: whitesmoke;
}

.titlePage {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}


.greekSection {
    margin-bottom: 4rem;
}

.greekText {
    font-size: 2rem;
    width: 100%;
    /* color: navy; */
}

.fillableFields {
    padding: 2rem;
}

.contactForm {

    width: 100%;
    height: auto;
}
