* {
    /* Box sizes (height/width) include border and padding */
    box-sizing: border-box;	
    font-family: "Times New Roman", sans-serif;
 }

/* ----------- */
/*  Home Page  */
/* ----------- */

.titlePage {

    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    
    & header {
	display: flex;
	padding: 0px;
	border: none;
	margin: 0;

	.navheader {
	    display: flex;
	    background: #444;
	    font-size: 18px;
	    margin: 0;
	    flex-grow: 1;
    
	    & ul {
		display: flex;
		list-style-type: none;
		flex-grow: 1;
		justify-content: space-between;	
	    }

	    & a {
		color: #f2f2f2;
		text-decoration: none;
		padding: 12px;
	    }
	}
    }

    & main {
	margin: 0 0 0 10px;
    }

    .publisherImage {
	width: 650px;
	border: solid;
	padding: 2px;
	margin-left: 5%;
	margin-right: 75px;
	text-align: center;
	float: left;
    }

    #toc {
	
	& ol {
	    overflow: hidden;
	}

	& h2 a {
	    text-decoration: none;
	    color: black;
	}
    }
}


header {
    border-style: solid;
    padding: 2rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2.5%;
    display: inline-block;
    font-size: 1.1rem;
    font-family: arial;
}

header img.greekReader {
    float: left;
    max-width: 230px;
    margin-right: 2rem;
    object-fit: contain;
}

.about {
    /* overflow: hidden; */
}

.bookTitle {
    font-style: italic;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 0%;
}

figure {

    margin: 0%;
}


main {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 5%;
}

ul, ol {

    line-height: 1.50em;
}

ol {

    list-style-type: lower-greek;
}

#toc li {
    padding-left: 1em;
}


ol li::marker {

    font-size: 1.25em;
    text-transform: uppercase;
}

#toc a:hover, #toc a:focus {
    background: black;
    color: whitesmoke;
}

.navbar {
    overflow: hidden;
    width: 175px;
    max-width: 15%;
    color: black;
    background-color: lightgray;
    position: fixed;
    font-family: arial;
    font-weight: 500;
    font-size: 1rem;
    margin: 0px;
    margin-top: 2.5%;
    border-style: solid;
    border-color: black; /*darkgray;*/
    border-width: 3px;
}

@media (max-width: 800px) {
  .navbar {
    display: none;
  }
}

.navbar h3 {
    margin: 0;
    text-decoration: underline;
    padding-left: 2px;
}

.navbar a {
    color: black;
    text-align: left;
    text-decoration: none;
}

.navbar ul {
    
    list-style-type: none;
    line-height: 1.5rem;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.navbar a:hover {
    background: black;
    color: whitesmoke;
}


.greekSection {
    clear: both;
    overflow: hidden;
    margin-top: 25px;
}

.greekText {
    font-size: 2rem;
    width: 100%;
}

.greekSection .notes {
    width: 50%;
    float: left;
}

.greekSection .translation {
    margin-left: 2%;
    width: 48%;
    float: right;
}


/* ============ */
/* Contact Page */
/* ============ */
.contactPage {

    background-color: snow;

    & main {
	margin-left: 25%;
	margin-right: 25%;
    }
    
    & h1 {
	margin-bottom: 0px;
	color: darkslategray;
	font-weight: 500;
    }

    & fieldset {
	border-radius: 12px;
	background-color: ghostwhite;
	margin-bottom: -15px;
    }

    .fillableFields {
	padding: 0.5rem 1.5rem 1rem 1.5rem;
	overflow: hidden;

	.contactInfo {
	    display: flex;
	    width: 100%;
	    flex-direction: row;
	    justify-content: flex-start;
	    gap: 20px;
	    flex-wrap: wrap;
	
	    .id {
		width: 225px;
		flex-grow: 1;
	    }
	}
	
	.messageText {
	    width: 95%;
	    height: 150px;
	    margin: 20px 0 0 0;
	}
    }

    .submit {
	text-align: center;
	
	.button {
	    border: none;
	    border-radius: 16px;
	    color: whitesmoke;
	    background-color: slategray;
	    width: 150px;
	    height: 35px;
	    padding: 5px;
	    text-aligned: center;
	    text-decoration: none;
	    font-size: 16px;
	}
    }

    .button:hover {
	background-color: Green;
	cursor: pointer;
    }
}

/* ----------- */
/* Page Footer */
/* ----------- */
footer p {
    padding-left: 15px;
}
